* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.wrap {
	width: 960px;
	margin: 20px auto;
	margin-top: 30px; 
}

.header {
	width: 960px;
	height: 120px;
	margin-bottom: 20px;
	background: DodgerBlue;
}

.logo {
    width: 100px;
    height: 100px;
    margin: 10px 100px 10px 30px;
    border-radius: 50px;
    background: white;
    float:left;
}

.header .nav {
	padding: 40px 10px 40px 10px; 	
	line-height: 24px;

}

.header .nav li {	
	width: 160px;
	margin: 5px;
	display: inline-block;
	background: gray;
	text-align: center;
}

.header .nav li:hover {
	background: red;
}

.header .nav a {

}

.sidebar {
	width: 320px;
	height: 900px;
	background: LightPink;
	float: right;
}

.content {
	margin-right: 20px;
	/*background: green;*/
}

/*.article1 {
	width: 620px;
	margin-bottom: 10px;
	background: #FFFFC2; 
}*/

.article {
	width: 620px;
	margin: 0px 20px 10px 0px;
	background: #FFFFC2;
	float: right;
}

/*.article3 {
	width: 620px;
	margin-bottom: 10px; 
	background: #FFFFC2;
}*/

.img {
	width: 120px;
	height: 120px;
	margin: 20px;
}

.text {
	/*padding: 20px;*/
	width: 460px;
	float: right;

}

.footer {
	height: 50px;
	margin-top: 10px;
	background: #C891C8;
	text-align: right;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clear {
	clear: both;
}