// @import "compass/reset";

$info-color: blue;
$error-color: red;
$warning-color: orange;
$submit-color: green;

@mixin btn-bg($bg-color) {
	background: $bg-color;
	&:hover {
		background: rgba($bg-color, .1);
	}
}

%btn {
	border-radius: 4px;
	border: none;
	color: white;
	font-size: 20px;
	&::before {
		content: "";
	}
}

.info {
	@extend %btn;
	@include btn-bg($info-color);
	&-btn {
		font-size: 32px;
	}
}

.error {
	@extend %btn;
	@include btn-bg($error-color);
}

.warning {
	@extend %btn;
	@include btn-bg($warning-color);
}

.submit {
	@extend %btn;
	@include btn-bg($submit-color);
}

$cols: 16;

@for $i from 1 through $cols {
	.col-#{$i} {
		width:  100%/$cols*$i;
	}
}

@import "min720.scss";