* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

div {
	background: red;
	padding-top: 25%;
	overflow: hidden;
	position: relative;
}

/*div {
	background: red;
	height: 25vw;
}*/

/*div h1 {
	font-size: 10vh;
}*/

img {
	/*margin: -25%;*/
	max-width: 100%;
	display: block;
	position: absolute;
	top: 0;
}