* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

/*p::before {
	content: "Before";
	color: red;
	font-size: 20px;
}

p::after {
	content: "After";
	color: red;
	font-size: 20px;
}*/

.content {
	width: 65%;
	background: blue;
	float: left;
}

.button {
	display: inline-block;
	height: 32px;
	padding: 8px 16px;
	background: purple; 
	text-decoration: none;
	color: white;
	border-radius: 2px;
}

.button::before {
	content: "";
	width: 32px;
	height: 32px;
	margin: -6px;
	margin-right: 4px;
	background: url(img/Sprite.png) no-repeat;
	float: left;
}

.sidebar {
	width: 30%;
	background: yellow;
	float: right;
}

.footer {
	background: red;
	height: 100px;
}

.footer::before {
	width: 100%;
	content: "";
	clear: both;
	display: table;
}

.clear {
	clear: both;
}