* {
	box-sizing: border-box;
}

body {
	background: #f0f2f5;
	margin: 0;
	/*font-family: arial;*/
	font-family: "proxima-nova-1","proxima-nova-2",arial,helvetica,sans-serif;
	/*background: url(img/body_background.jpg) no-repeat fixed;*/
}

.header {
	height: 65px;
	padding: 14px 0px 14px 210px;
	background: white;
	margin-bottom: 20px;
}

.logo {
    width: 32px;
    height: 32px;
    margin: auto;
    display: block;
    background: url(img/sprite.png) left top;
    float:left;
}

.logo i {
	width: 135px;
	margin: 0px 0px 0px 42px;
	font-size: 18px;
	font-weight: 500;
	color: #8cc152;
	display: inline-block;
}

.logo p {
	width: 135px;
	/*margin-left: 42px;*/
	margin: 0px 0px 0px 42px;
	font-size: 12px;
	color: #aab2bd;
	display: inline-block;
}


.header .nav {
	width: 480px;
	margin: 5px 0px 0px 170px;
	padding: 0px;
	/*padding: 40px 10px 40px 10px; 	*/
	line-height: 24px;

}

.header .nav li {	
	margin-left: 30px;
	display: inline-block;
	text-align: right;
}

.header .nav li:hover {
	/*background: red;*/
}

.header .nav a {
	text-decoration: none;
	font-size: 17px;
	font-variant: small-caps;
	font-weight: 600;
	color: #434a54;
}

.search {
	margin-top: -25px;
	padding-right: 205px;
	float: right;
}

.search_image {
	width: 30px;
	height: 30px;
	display: block;
	/*background: red;*/
	background: url(img/sprite.png) -40px top;
}

.wrap {
	width: 940px;
	margin: 10px auto;
	margin-top: 30px; 
	/*background: white;*/
}

.slider {
	height: 320px;
	border-radius: 5px;
	background: #ff6d55;
}

.content {
	padding-top: 20px; 
}

.plan {
	width: 220px;
	height: 350px;
	padding: 10px 10px 10px 20px; 
	border-radius: 5px;
	background: white;
}

.starter {
	/*background: #fc6e51;*/
}

.basic {
	margin-top:-350px;
	margin-left: 240px;
	/*background: #a0d468;*/
}

.pro {
	margin-top: -350px;
	margin-left: 480px;
	/*background: #4fc1e9;*/
}

.ultra {
	margin-top: -350px;
	margin-left: 720px;
	/*background: #ad92ec;*/
}

.content h1 {
	font-size: 25px;
	font-weight: 500;
	color: #434a54;
}

.content a {
	width: 180px;
	height: 40px;
	/*margin-left: 20px;*/
	padding-top: 10px; 
	text-decoration: none;
	text-align: center;
	font-size: 18px;
	font-variant: small-caps;
	color: white;
	border-radius: 5px;
	background: #aab2bd;
	display: inline-block;
}

.content .starter:hover  {
	background: #fc6e51 20px 20px;
}

/*.content .starter a:hover {
	background: #fc6e51;
}*/

.sidebar {
	/*width: 320px;
	height: 900px;
	background: #F4BFBF;
	float: right;*/
}

.sidebar_img {
	/*width: 260px; 
	height: 100px;
	margin: 20px 30px 0px 30px;*/
}

.sidebar li {
	/*width: 260px;
	list-style-type: square;
	font-family: "proxima-nova-1","proxima-nova-2",arial,helvetica,sans-serif;
	font-size: 13px;
	color: #333333;*/
}





.content .article h1, .content .article p {
	/*width: 455px;
	margin: 0px 10px 10px 10px; 
	font-family: "proxima-nova-1","proxima-nova-2",arial,helvetica,sans-serif;
	font-weight: 100;
	color: #525B5D;*/
}

.text {
	/*width: 455px;
	margin-left: 145px;
	font-family: "proxima-nova-1","proxima-nova-2",arial,helvetica,sans-serif;
	font-weight: 100;
	color: #525B5D;*/
}


.content_img1 {
	/*width: 120px;
	height: 120px;
	margin-left: -130px;
	float: left;*/
}

.content_img {
	/*width: 120px;
	height: 120px;
	margin: 0px 10px 10px 0px;*/
}

.footer {
	height: 50px;
	background: #e6e9ed; 
	/*height: 50px;
	margin-top: 10px;
	background: #CC99CC;
	text-align: right;*/
}

.footer_text {
	/*padding: 18px;
	font-family: "proxima-nova-1","proxima-nova-2",arial,helvetica,sans-serif;
	font-weight: 100;
	font-size: 13px;
	color: #333333;*/
}

.fl {
	/*float: left;*/
}

.fr {
	/*float: right;*/
}

.clear {
	/*clear: both;*/
}